body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

/* Section 1 */
.div-one {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    flex: 1;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: flex-start;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 100px;
    margin-bottom: 80px;
    min-width: 1000px;
    /* flex-shrink: 1; */
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 35px;
    flex: 1;
    flex-wrap: wrap;
}


.left-content p {
    width: 425px;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 5px;
}

.left-content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9f8fa;
    margin-bottom: 0;
}

.btn-1 {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    background: #3882f6;
    color: #f9f8fa;
    border: none;
    font-weight: 700;
}

.right-image {
    color: #e5e7eb;
    /* height: 250px; */
    width: 500px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: grey; */
    flex: auto;
    min-width: 100px;
}

.right-image img {
    width: 500px;
    height: 265px;
    object-fit: cover;
}

/* Section 2 */
.div-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
}

.title-two {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.content-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-two {
    height: 150px;
    width: 150px;
    /* border: 3px solid #3882f6; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-two img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 170px;
    font-size: 18px;
    color: #1f2937;

}

/* Section 3 */
.div-three {
    background: #efe7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0;
    width: 93%;
    /* background: orange; */
    display: flex;
}

.quote p {
    margin-bottom: -5px;
}

.end-quote {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: flex-start;
    /* background: orange; */
}

.end-quote p {
    margin-top: 0;
    margin-right: 15px;
}

/* Section 4 */
.div-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 200px;
}

.content-four {
    background: #3882f6;
    color: #f9f8fa;
    width: 95%;
    border-radius: 10px;
    padding: 50px 100px;
}

.call {
    font-weight: 700;
    font-size: 25px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.btn-2 button {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    background: #3882f6;
    color: #f9f8fa;
    border: 2px solid #f9f8fa;
    font-weight: 700;
    margin-top: -10px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    background: #1f2937;
    font-size: 18px;
    color: #f9f8fa;
}